.u-center-txt{
    text-align: center
    ;
}

.u-mg-btm-big{
    margin-bottom: 8rem;
}
.u-mg-btm-medium{
    margin-bottom: 4rem;
}
.u-mg-btm-small{
    margin-bottom: 1.5rem;
}

.u-mg-top-extra-big{
    margin-top: 10rem;
}

.u-mg-top-big{
    margin-top: 8rem;
}